body{
  background: #d2d2c1 url('img/fundo.png');
  font:"Helvetica", "sans serif";
}

a{
  text-decoration: none;
  color: #4b566a;
  font-weight: bold;
}

img.img-bordada{
  border: 10px solid gray;
}

#container{
  width: 100%;
}

#logo{
  width: 900px;
}

#menu{
  width: 880px;
  background-color: #c5c5b2;
  padding: 10px;
}

#conteudo{
  background-color: #e8e8d9;
  width: 860px;
  padding: 20px;
}
